<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<h3 class="text-center mt-4">Articles</h3>

<% if @articles.empty? %>
<div class="d-flex justify-content-center align-items-center">
    <p>There is no any article.</p>
</div>
<% end %>
<%= render 'articles/article' %>